//
// Country flag positions
// -------------------------------------------------- 

.countryflag-ad {
    background-position: 0 -10px;
}
.countryflag-ae {
    background-position: 0 -31px;
}
.countryflag-af {
    background-position: 0 -52px;
}
.countryflag-ag {
    background-position: 0 -73px;
}
.countryflag-ai {
    background-position: 0 -94px;
}
.countryflag-al {
    background-position: 0 -115px;
}
.countryflag-am {
    background-position: 0 -136px;
}
.countryflag-an {
    background-position: 0 -157px;
}
.countryflag-ao {
    background-position: 0 -178px;
}
.countryflag-ar {
    background-position: 0 -199px;
}
.countryflag-as {
    background-position: 0 -220px;
}
.countryflag-at {
    background-position: 0 -241px;
}
.countryflag-au {
    background-position: 0 -262px;
}
.countryflag-aw {
    background-position: 0 -283px;
}
.countryflag-ax {
    background-position: 0 -304px;
}
.countryflag-az {
    background-position: 0 -325px;
}
.countryflag-ba {
    background-position: 0 -346px;
}
.countryflag-bb {
    background-position: 0 -367px;
}
.countryflag-bd {
    background-position: 0 -388px;
}
.countryflag-be {
    background-position: 0 -409px;
}
.countryflag-bf {
    background-position: 0 -430px;
}
.countryflag-bg {
    background-position: 0 -451px;
}
.countryflag-bh {
    background-position: 0 -472px;
}
.countryflag-bi {
    background-position: 0 -493px;
}
.countryflag-bj {
    background-position: 0 -514px;
}
.countryflag-bm {
    background-position: 0 -535px;
}
.countryflag-bn {
    background-position: 0 -556px;
}
.countryflag-bo {
    background-position: 0 -577px;
}
.countryflag-br {
    background-position: 0 -598px;
}
.countryflag-bs {
    background-position: 0 -619px;
}
.countryflag-bt {
    background-position: 0 -640px;
}
.countryflag-bv {
    background-position: 0 -661px;
}
.countryflag-bw {
    background-position: 0 -682px;
}
.countryflag-by {
    background-position: 0 -703px;
}
.countryflag-bz {
    background-position: 0 -724px;
}
.countryflag-ca {
    background-position: 0 -745px;
}
.countryflag-catalonia {
    background-position: 0 -766px;
}
.countryflag-cc {
    background-position: 0 -787px;
}
.countryflag-cd {
    background-position: 0 -808px;
}
.countryflag-cf {
    background-position: 0 -829px;
}
.countryflag-cg {
    background-position: 0 -850px;
}
.countryflag-ch {
    background-position: 0 -871px;
}
.countryflag-ci {
    background-position: 0 -892px;
}
.countryflag-ck {
    background-position: 0 -913px;
}
.countryflag-cl {
    background-position: 0 -934px;
}
.countryflag-cm {
    background-position: 0 -955px;
}
.countryflag-cn {
    background-position: 0 -976px;
}
.countryflag-co {
    background-position: 0 -997px;
}
.countryflag-cr {
    background-position: 0 -1018px;
}
.countryflag-cs {
    background-position: 0 -1039px;
}
.countryflag-cu {
    background-position: 0 -1060px;
}
.countryflag-cv {
    background-position: 0 -1081px;
}
.countryflag-cx {
    background-position: 0 -1102px;
}
.countryflag-cy {
    background-position: 0 -1123px;
}
.countryflag-cz {
    background-position: 0 -1144px;
}
.countryflag-de {
    background-position: 0 -1165px;
}
.countryflag-dj {
    background-position: 0 -1186px;
}
.countryflag-dk {
    background-position: 0 -1207px;
}
.countryflag-dm {
    background-position: 0 -1228px;
}
.countryflag-do {
    background-position: 0 -1249px;
}
.countryflag-dz {
    background-position: 0 -1270px;
}
.countryflag-ec {
    background-position: 0 -1291px;
}
.countryflag-ee {
    background-position: 0 -1312px;
}
.countryflag-eg {
    background-position: 0 -1333px;
}
.countryflag-eh {
    background-position: 0 -1354px;
}
.countryflag-england {
    background-position: 0 -1375px;
}
.countryflag-er {
    background-position: 0 -1396px;
}
.countryflag-es {
    background-position: 0 -1417px;
}
.countryflag-et {
    background-position: 0 -1438px;
}
.countryflag-europeanunion {
    background-position: 0 -1459px;
}
.countryflag-fam {
    background-position: 0 -1480px;
}
.countryflag-fi {
    background-position: 0 -1501px;
}
.countryflag-fj {
    background-position: 0 -1522px;
}
.countryflag-fk {
    background-position: 0 -1543px;
}
.countryflag-fm {
    background-position: 0 -1564px;
}
.countryflag-fo {
    background-position: 0 -1585px;
}
.countryflag-fr {
    background-position: 0 -1606px;
}
.countryflag-ga {
    background-position: 0 -1627px;
}
.countryflag-gb {
    background-position: 0 -1648px;
}
.countryflag-gd {
    background-position: 0 -1669px;
}
.countryflag-ge {
    background-position: 0 -1690px;
}
.countryflag-gf {
    background-position: 0 -1711px;
}
.countryflag-gh {
    background-position: 0 -1732px;
}
.countryflag-gi {
    background-position: 0 -1753px;
}
.countryflag-gl {
    background-position: 0 -1774px;
}
.countryflag-gm {
    background-position: 0 -1795px;
}
.countryflag-gn {
    background-position: 0 -1816px;
}
.countryflag-gp {
    background-position: 0 -1837px;
}
.countryflag-gq {
    background-position: 0 -1858px;
}
.countryflag-gr {
    background-position: 0 -1879px;
}
.countryflag-gs {
    background-position: 0 -1900px;
}
.countryflag-gt {
    background-position: 0 -1921px;
}
.countryflag-gu {
    background-position: 0 -1942px;
}
.countryflag-gw {
    background-position: 0 -1963px;
}
.countryflag-gy {
    background-position: 0 -1984px;
}
.countryflag-hk {
    background-position: -26px -10px;
}
.countryflag-hm {
    background-position: -26px -31px;
}
.countryflag-hn {
    background-position: -26px -52px;
}
.countryflag-hr {
    background-position: -26px -73px;
}
.countryflag-ht {
    background-position: -26px -94px;
}
.countryflag-hu {
    background-position: -26px -115px;
}
.countryflag-id {
    background-position: -26px -136px;
}
.countryflag-ie {
    background-position: -26px -157px;
}
.countryflag-il {
    background-position: -26px -178px;
}
.countryflag-in {
    background-position: -26px -199px;
}
.countryflag-io {
    background-position: -26px -220px;
}
.countryflag-iq {
    background-position: -26px -241px;
}
.countryflag-ir {
    background-position: -26px -262px;
}
.countryflag-is {
    background-position: -26px -283px;
}
.countryflag-it {
    background-position: -26px -304px;
}
.countryflag-jm {
    background-position: -26px -325px;
}
.countryflag-jo {
    background-position: -26px -346px;
}
.countryflag-jp {
    background-position: -26px -367px;
}
.countryflag-ke {
    background-position: -26px -388px;
}
.countryflag-kg {
    background-position: -26px -409px;
}
.countryflag-kh {
    background-position: -26px -430px;
}
.countryflag-ki {
    background-position: -26px -451px;
}
.countryflag-km {
    background-position: -26px -472px;
}
.countryflag-kn {
    background-position: -26px -493px;
}
.countryflag-kp {
    background-position: -26px -514px;
}
.countryflag-kr {
    background-position: -26px -535px;
}
.countryflag-kw {
    background-position: -26px -556px;
}
.countryflag-ky {
    background-position: -26px -577px;
}
.countryflag-kz {
    background-position: -26px -598px;
}
.countryflag-la {
    background-position: -26px -619px;
}
.countryflag-lb {
    background-position: -26px -640px;
}
.countryflag-lc {
    background-position: -26px -661px;
}
.countryflag-li {
    background-position: -26px -682px;
}
.countryflag-lk {
    background-position: -26px -703px;
}
.countryflag-lr {
    background-position: -26px -724px;
}
.countryflag-ls {
    background-position: -26px -745px;
}
.countryflag-lt {
    background-position: -26px -766px;
}
.countryflag-lu {
    background-position: -26px -787px;
}
.countryflag-lv {
    background-position: -26px -808px;
}
.countryflag-ly {
    background-position: -26px -829px;
}
.countryflag-ma {
    background-position: -26px -850px;
}
.countryflag-mc {
    background-position: -26px -871px;
}
.countryflag-md {
    background-position: -26px -892px;
}
.countryflag-me {
    background-position: -26px -913px;
}
.countryflag-mg {
    background-position: -26px -935px;
}
.countryflag-mh {
    background-position: -26px -956px;
}
.countryflag-mk {
    background-position: -26px -977px;
}
.countryflag-ml {
    background-position: -26px -998px;
}
.countryflag-mm {
    background-position: -26px -1019px;
}
.countryflag-mn {
    background-position: -26px -1040px;
}
.countryflag-mo {
    background-position: -26px -1061px;
}
.countryflag-mp {
    background-position: -26px -1082px;
}
.countryflag-mq {
    background-position: -26px -1103px;
}
.countryflag-mr {
    background-position: -26px -1124px;
}
.countryflag-ms {
    background-position: -26px -1145px;
}
.countryflag-mt {
    background-position: -26px -1166px;
}
.countryflag-mu {
    background-position: -26px -1187px;
}
.countryflag-mv {
    background-position: -26px -1208px;
}
.countryflag-mw {
    background-position: -26px -1229px;
}
.countryflag-mx {
    background-position: -26px -1250px;
}
.countryflag-my {
    background-position: -26px -1271px;
}
.countryflag-mz {
    background-position: -26px -1292px;
}
.countryflag-na {
    background-position: -26px -1313px;
}
.countryflag-nc {
    background-position: -26px -1334px;
}
.countryflag-ne {
    background-position: -26px -1355px;
}
.countryflag-nf {
    background-position: -26px -1376px;
}
.countryflag-ng {
    background-position: -26px -1397px;
}
.countryflag-ni {
    background-position: -26px -1418px;
}
.countryflag-nl {
    background-position: -26px -1439px;
}
.countryflag-no {
    background-position: -26px -1460px;
}
.countryflag-np {
    background-position: -26px -1481px;
}
.countryflag-nr {
    background-position: -26px -1502px;
}
.countryflag-nu {
    background-position: -26px -1523px;
}
.countryflag-nz {
    background-position: -26px -1544px;
}
.countryflag-om {
    background-position: -26px -1565px;
}
.countryflag-pa {
    background-position: -26px -1586px;
}
.countryflag-pe {
    background-position: -26px -1607px;
}
.countryflag-pf {
    background-position: -26px -1628px;
}
.countryflag-pg {
    background-position: -26px -1649px;
}
.countryflag-ph {
    background-position: -26px -1670px;
}
.countryflag-pk {
    background-position: -26px -1691px;
}
.countryflag-pl {
    background-position: -26px -1712px;
}
.countryflag-pm {
    background-position: -26px -1733px;
}
.countryflag-pn {
    background-position: -26px -1754px;
}
.countryflag-pr {
    background-position: -26px -1775px;
}
.countryflag-ps {
    background-position: -26px -1796px;
}
.countryflag-pt {
    background-position: -26px -1817px;
}
.countryflag-pw {
    background-position: -26px -1838px;
}
.countryflag-py {
    background-position: -26px -1859px;
}
.countryflag-qa {
    background-position: -26px -1880px;
}
.countryflag-re {
    background-position: -26px -1901px;
}
.countryflag-ro {
    background-position: -26px -1922px;
}
.countryflag-rs {
    background-position: -26px -1943px;
}
.countryflag-ru {
    background-position: -26px -1964px;
}
.countryflag-rw {
    background-position: -26px -1985px;
}
.countryflag-sa {
    background-position: -52px -10px;
}
.countryflag-sb {
    background-position: -52px -31px;
}
.countryflag-sc {
    background-position: -52px -52px;
}
.countryflag-scotland {
    background-position: -52px -73px;
}
.countryflag-sd {
    background-position: -52px -94px;
}
.countryflag-se {
    background-position: -52px -115px;
}
.countryflag-sg {
    background-position: -52px -136px;
}
.countryflag-sh {
    background-position: -52px -157px;
}
.countryflag-si {
    background-position: -52px -178px;
}
.countryflag-sj {
    background-position: -52px -199px;
}
.countryflag-sk {
    background-position: -52px -220px;
}
.countryflag-sl {
    background-position: -52px -241px;
}
.countryflag-sm {
    background-position: -52px -262px;
}
.countryflag-sn {
    background-position: -52px -283px;
}
.countryflag-so {
    background-position: -52px -304px;
}
.countryflag-sr {
    background-position: -52px -325px;
}
.countryflag-st {
    background-position: -52px -346px;
}
.countryflag-sv {
    background-position: -52px -367px;
}
.countryflag-sy {
    background-position: -52px -388px;
}
.countryflag-sz {
    background-position: -52px -409px;
}
.countryflag-tc {
    background-position: -52px -430px;
}
.countryflag-td {
    background-position: -52px -451px;
}
.countryflag-tf {
    background-position: -52px -472px;
}
.countryflag-tg {
    background-position: -52px -493px;
}
.countryflag-th {
    background-position: -52px -514px;
}
.countryflag-tj {
    background-position: -52px -535px;
}
.countryflag-tk {
    background-position: -52px -556px;
}
.countryflag-tl {
    background-position: -52px -577px;
}
.countryflag-tm {
    background-position: -52px -598px;
}
.countryflag-tn {
    background-position: -52px -619px;
}
.countryflag-to {
    background-position: -52px -640px;
}
.countryflag-tr {
    background-position: -52px -661px;
}
.countryflag-tt {
    background-position: -52px -682px;
}
.countryflag-tv {
    background-position: -52px -703px;
}
.countryflag-tw {
    background-position: -52px -724px;
}
.countryflag-tz {
    background-position: -52px -745px;
}
.countryflag-ua {
    background-position: -52px -766px;
}
.countryflag-ug {
    background-position: -52px -787px;
}
.countryflag-um {
    background-position: -52px -808px;
}
.countryflag-us {
    background-position: -52px -829px;
}
.countryflag-uy {
    background-position: -52px -850px;
}
.countryflag-uz {
    background-position: -52px -871px;
}
.countryflag-va {
    background-position: -52px -892px;
}
.countryflag-vc {
    background-position: -52px -913px;
}
.countryflag-ve {
    background-position: -52px -934px;
}
.countryflag-vg {
    background-position: -52px -955px;
}
.countryflag-vi {
    background-position: -52px -976px;
}
.countryflag-vn {
    background-position: -52px -997px;
}
.countryflag-vu {
    background-position: -52px -1018px;
}
.countryflag-wales {
    background-position: -52px -1039px;
}
.countryflag-wf {
    background-position: -52px -1060px;
}
.countryflag-ws {
    background-position: -52px -1081px;
}
.countryflag-ye {
    background-position: -52px -1102px;
}
.countryflag-yt {
    background-position: -52px -1123px;
}
.countryflag-za {
    background-position: -52px -1144px;
}
.countryflag-zm {
    background-position: -52px -1165px;
}
.countryflag-zw {
    background-position: -52px -1186px;
}



