.tabs-wrapper {
  ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 40px;
    border-bottom: 1px solid #e5e8ea;
    width: 100%;
    li {
      float: left;
      margin: 0;
      cursor: pointer;
      padding: 0px 12px;
      height: 40px;
      line-height: 38px;
      border: 1px solid #e5e8ea;
      font-weight: normal;
      font-size: 18px;
      background: #eef1f3;
      overflow: hidden;
      position: relative;
      color: #7d9aa8;
      margin-right: 5px;
      border-radius: 2px 2px 0 0;
      &:last-child {
        margin-right: 0px;
      }
      &:hover {
        background: #f2f5f7;
        color: #677581;
      }
      &.active {
        background: #FFFFFF;
        border-bottom: 1px solid #FFFFFF;
        color: #677581;
      }
    }
    .orange-tab {
      background: #f5d275 !important;
      color: #8f733b !important;
      border-top-color: #e8c86f !important;
      border-left-color: #e8c86f !important;
      border-right-color: #e8c86f !important;
      &.active, &.focus {
        background: #ffffff !important;
        color: #8f733b !important;
        border-top-color: #e5e8ea !important;
        border-left-color: #e5e8ea !important;
        border-right-color: #e5e8ea !important;
      }
    }
  }
  .tab-container {
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    background: #FFFFFF;

    .tab-content {
      padding-top: 48px;
      display: none;
      &.active {
        display: block !important;
      }
    }
  }
}
